#hero {
  height: 90vh;
  overflow: hidden;
  background-image: url("images/mountain_path.svg");
  background-size: cover;
  background-attachment: fixed;
  .header {
    h1 { font-family: "OrbitronBlack"; }
    h2 { font-size: 1.5em; }
    @include span-columns(7 of 12);
    @include shift(4.5);
    font-family: $title-font;
    margin-top: 8em;
    font-size: 1.6em;
    color: $dark;
    text-align: center;
  }
  @include media($mobile) {
    $bg-height: 800vw / 14;
    background-size: 100% $bg-height;
    background-repeat: no-repeat;
    background-attachment: scroll;
    height: auto;
    .header {
      padding: 0 $gutter;
      h2 { font-size: 1.3em; }
      margin-top: $bg-height;
      @include fill-parent;
      @include shift(0);
    }
  }
}
