<div id="header">
  <a id="logo" href="/"><img src="/images/gdcr-world.png" alt="logo"></a>
  <h1><a href="/">Global Day of Coderetreat - honing the craft together...all over the world</a></h1>
  <div class="call-to-action">
    <a href="http://coderetreat.org/events/event/listByType?type=gdcr14" target="_blank" >View all local events &gt;</a>
  </div>
</div><!--/header-->
