<div id="hero">
  <div class="header">
    <h1>Global Day of Coderetreat</h1>
    <h2>November 15, 2014</h2>

    <p>Join us and thousands worldwide for a day
    to celebrate passion and software craftsmanship.</p>
  </div>
</div>

<section id="locations">
  <h2>Where is it?</h2>

  <div id="map"></div>
  <div class="map-aside">
    <p>
    Last year, we had <a href="http://bit.ly/gdcr13map" target="_blank">170 cities around the world</a>
    participate in the Global Day of Coderetreat.
    </p> <p>
    This year, we already have <strong><%= event_count %> registered events</strong>...
    and counting!
    </p> <p>
  We are currently in the process of registering cities.
  If you are interested in hosting or facilitating an event in your city,
  please fill in the <a href="http://bit.ly/gdcr14_leader_reg">host and facilitator registration form</a>.
  </p>
  <a class="button" href="http://coderetreat.org/events/event/listByType?type=gdcr14">Find an event near you!</a>
  </div>
</section>

<div class="format-background">
  <section class="format">
    <h2>It's Really Quite Simple...</h2>
    <% [
      "Start with a simple programming problem: Conway's Game of Life.",
      "Work with different partners to discuss and solve the problem.",
      "We'll add restrictions to force you to consider different approaches.",
      "After each round, throw out your code and repeat!",
    ].each do |bullet| %>
    <div class="step">
      <span class="description">
        <%= bullet %>
      </span>
    </div>
  <% end %>
  </section>
</div>

<section class="sponsors">
  <h2>We couldn't have done it alone.</h2>

  <div class="sponsor-level globe">
    <h3>Globe Sponsors</h3>
    <div class="sponsors-container">
      <% globe_sponsors.each do |sponsor| %>
        <%= erb :sponsor_partial, locals: {sponsor: sponsor} %>
      <% end %>
    </div>
  </div>

  <div class="sponsor-level continent">
    <h3>Continent Sponsors</h3>
    <div class="sponsors-container">
      <% continent_sponsors.each do |sponsor| %>
        <%= erb :sponsor_partial, locals: {sponsor: sponsor} %>
      <% end %>
    </div>
  </div>
</section>

<section class="todo">
  <h2>ToDo: This site isn't done yet.</h2>
  <p>This list is taken <a href="https://basecamp.com/2760990/projects/7219821/messages/32135669#comment_206981636">from Basecamp</a>, where Jim laid out the site's priorities:</p>
  <ol>
    <li>Description and introduction to the Global Day of Coderetreat.
      Possibly include a summary coderetreat
      and a summary of the community’s goals and philosophy.
      <strong>(this can be improved)</strong>
    </li>
    <li>"Host a Coderetreat" section, button, or link,
      which leads visitors to a page
      with information about how to host a coderetreat for GDCR.
      Link to the Host and Facilitator Registration Form</li>
    <li>Basic information about CoderDojo (sponsored organization)</li>
    <li>Count of the total number of cities
      and <strong>projected number of participants.</strong>
    Useful for attracting new sponsors</li>
    <li>Links to social media (Twitter, Facebook,Google Plus)</li>
    <li>Count-down to the day of the event</li>
    <li>Navigation links that go back to sections of coderetreat.org</li>
  </ol>
</section>
