<div id="hero">
  <div class="header">
    <h1>Global Day of Coderetreat</h1>
    <h2>November 14, 2015</h2>

    <p>a day to celebrate passion and software craftsmanship</p>
  </div>
</div>

<section id="locations">
    <h2>Where is it?</h2>

    <div id="map">
      <div id="popup"></div>
  </div>
  <div class="map-aside">
    <p>
    This year, we have <strong><%= event_count %> participating cities</strong>!
    </p> <p>
    This event truly is global,
    organized and run in local communities by volunteers like you.
    </p> <p>
    If you can't find an event near you, <a href="#hosting">create one!</a>
    </p> <p>
    <a href="/timeline-2015.html">Check out this year's timeline</a> to see when each local coderetreat took place.
    </p>
    <a class="button" href="http://coderetreat.org/events/event/listByType?type=gdcr15">Find an event near you!</a>
  </div>
</section>

<div class="format-background">
  <section class="format">
    <h2>It's Really Quite Simple...</h2>
    <% [
      "Start with a simple programming problem: Conway's Game of Life.",
      "Work with different partners to discuss and solve the problem.",
      "We'll add restrictions to force you to consider different approaches.",
      "After each round, throw out your code and repeat!",
    ].each do |bullet| %>
    <div class="step">
      <span class="description">
        <%= bullet %>
      </span>
    </div>
  <% end %>
  </section>
</div>

<section id="hosting" class="hosting">
  <h2>Host your own Coderetreat</h2>

  <div class="host-contents">
    <div class="host-aside">
      Missed the Global Day of Coderetreat because there wasn't an event near you? <a href="https://docs.google.com/forms/d/1XlQ_3SBqOjCifRW0sIuVr026hRfjN7q_a08txq1v4ZY/viewform" target="_blank">Host your own!</a>
      </p> <p>
      Coderetreats are run by volunteers who want to help out
      their local developer community.
      Hosts handle all of the logistics,
      and facilitators guide participants through the exercises.
      </p> <p>
      Coderetreats are easy to organize and facilitate.  Most of all, they are a lot of fun and a great way
      to meet other developers in your area!
      </p> <p>
      What are you waiting for? Grab a buddy and organize a coderetreat today!
      </p>
    </div>
    <div class="host-pictures">
      <img class="hosts-picture" src="images/hosts.png"></img>
      <div class="copy">
        <p>
        Join hundreds of hosts who want to help
        developers in their community improve their craft.
        </p>
      </div>
      <div class="overlay"></div>
    </div>
  </div>
  <a class="button" href="/hosts">Learn about hosting and facilitating</a>
</section>

<div class="coderdojo-background">
  <section class="coderdojo">
    <h2>Paying it Forward</h2>

    <div class="content">
      <div class="video">
        <iframe src="//www.youtube.com/embed/z_gcHGa8J1E"
                frameborder="0" allowfullscreen>
        </iframe>
      </div>

      <div class="description">
        <a class="coderdojo-link" href="https://coderdojo.com/">
          <img src="https://coderdojo.com/wp-content/themes/coderdojo/images/logo.png"/>
        </a>
        <p>
        This year's Global Day of Coderetreat will once again support
        <a href="http://coderdojo.com">CoderDojo</a>: a worldwide,
        volunteer-driven movement of programming clubs for young people.
        The funds not used to support GDCR will go to CoderDojo.
        </p> <p>
        Be Cool and join us!
        <a href="http://coderetreat.org/profiles/blogs/coderdojo-and-gdcr14">
          Read this blog post
        </a>
        to learn more about how you can support CoderDojo.
        </p>
      </div>
    </div>
  </section>
</div>

<section class="sponsors">
    <h2>We love our sponsors!</h2>

    <div class="sponsor-level continent">
      <h3>Continent Sponsors</h3>
      <div class="sponsors-container">
        <% continent_sponsors.each do |sponsor| %>
          <%= erb :sponsor_partial, locals: {sponsor: sponsor} %>
        <% end %>
      </div>
    </div>

    <div class="sponsor-level timezone">
      <h3>Time-Zone Sponsors</h3>
      <div class="sponsors-container">
        <% timezone_sponsors.each do |sponsor| %>
          <%= erb :sponsor_partial, locals: {sponsor: sponsor} %>
        <% end %>
      </div>
    </div>

    <div class="new-sponsor">
        <h3>You could be a sponsor</h3>

        <p>
            By becoming a global sponsor, you will have a presence in front of
            thousands of the world's most passionate software developers.
            For more information about our needs and sponsorship plans,
            please
            <a href="http://globalday.coderetreat.org/gdcr_2015_global_sponsor_prospectus.pdf">
              download our sponsorship prospectus
            </a>
            and
            <a href="mailto:gdcr@coderetreat.org?subject=GDCR%20Sponsorship">
                contact the global event organizers.
            </a>
        </p>
    </div>
</section>
