<div id="hero">
  <div class="header">
    <h1>Global Day of Coderetreat</h1>
    <h2>November 15, 2014</h2>

    <p>Join us and thousands worldwide for a day
    to celebrate passion and software craftsmanship.</p>
  </div>
</div>

<section id="locations">
    <h2>Where is it?</h2>

  <div id="map"></div>
  <div class="map-aside">
    <p>
    Last year, we had <a href="http://bit.ly/gdcr13map" target="_blank">170 cities around the world</a>
    participate in the Global Day of Coderetreat.
    </p> <p>
    This year, we already have <strong><%= event_count %> registered events</strong>,
    with <strong>2,500 expected participants!</strong>
    </p> <p>
    This event truly is global,
    organized and run in local communities by volunteers like you.
    </p> <p>
    If you can't find an event near you, <a href="#hosting">create one!</a>
    </p>
    <a class="button" href="http://coderetreat.org/events/event/listByType?type=gdcr14">Find an event near you!</a>
  </div>
</section>

<div class="format-background">
  <section class="format">
    <h2>It's Really Quite Simple...</h2>
    <% [
      "Start with a simple programming problem: Conway's Game of Life.",
      "Work with different partners to discuss and solve the problem.",
      "We'll add restrictions to force you to consider different approaches.",
      "After each round, throw out your code and repeat!",
    ].each do |bullet| %>
    <div class="step">
      <span class="description">
        <%= bullet %>
      </span>
    </div>
  <% end %>
  </section>
</div>

<section id="hosting" class="hosting">
  <h2>Host your own Coderetreat</h2>

  <div class="host-contents">
    <div class="host-aside">
      <p>
      Don't see an event near you? No problem!
      </p> <p>
      Coderetreats are run by volunteers who want to help out
      their local developer community.
      Hosts handle all of the logistics,
      and facilitators guide participants through the exercises.
      </p> <p>
      Coderetreats are easy to organize and facilitate,
      and we have tons of resources to help you out.
      </p> <p>
      Most of all, they are a lot of fun and a great way
      to meet other developers in your area!
      </p> <p>
      What are you waiting for? Grab a buddy and organize a coderetreat today!
      </p>
    </div>
    <div class="host-pictures">
      <img class="hosts-picture" src="images/hosts.png"></img>
      <div class="copy">
        <p>
        Join hundreds of hosts who want to help
        developers in their community improve their craft.
        </p>
      </div>
      <div class="overlay"></div>
    </div>
  </div>
  <a class="button" href="/hosts">Learn about hosting and facilitating</a>
</section>

<section class="sponsors">
  <h2>We love our sponsors!</h2>

  <div class="sponsor-level globe">
    <h3>Globe Sponsors</h3>
    <div class="sponsors-container">
      <% globe_sponsors.each do |sponsor| %>
        <%= erb :sponsor_partial, locals: {sponsor: sponsor} %>
      <% end %>
    </div>
  </div>

  <div class="sponsor-level continent">
    <h3>Continent Sponsors</h3>
    <div class="sponsors-container">
      <% continent_sponsors.each do |sponsor| %>
        <%= erb :sponsor_partial, locals: {sponsor: sponsor} %>
      <% end %>
    </div>
  </div>
</section>
