<div id="main">
  <div id="content">
    <h1>Welcome to the Global Day of Coderetreat! November 15th, 2014</h1>

    <h2>What is it?</h2>
    <p>Global Day of Coderetreat is a world-wide event celebrating passion and software craftsmanship. <strong>Last year, over 5000 passionate software developers in 170 cities around the world</strong> registered to spend the day practicing the craft of software development using the <a href="http://coderetreat.org/">coderetreat format</a>. You can find out more information about the day on <a href="http://coderetreat.org/profiles/blogs/announcing-global-day-of-coderetreat-2014">the 2014 global day announcement</a>.</p>

    <h2>Where is it?</h2>
    <p>Last year, we had <a href="http://bit.ly/gdcr13map" target="_blank">170 cities around the world</a> participate in the Global Day of Coderetreat. This year we expect even more! We are currently in the process of registering cities. If you are interested in hosting or facilitating an event in your city, please fill in the <a href="http://bit.ly/gdcr14_leader_reg">host and facilitator registration form</a>. As we register events, you can find out if there is one in your city on the official <a href="http://coderetreat.org/events/event/listByType?type=gdcr14">GDCR 2014 event list page</a>.</p>
    <p>We already have more than <strong>100</strong> registered events!</p>

    <div style="width: 640px; height: 400px; margin: 0 auto;" id="map"></div>

    <h2>Can I host or facilitate a coderetreat?</h2>
    <p>Yes you can! To get started, fill in the <a href="http://bit.ly/gdcr14_leader_reg">host and facilitator registration form</a> and we will give you access to leaders-only mailing lists and other resources to help you plan your coderetreat.</p>
    <p>Do you have questions about hosting a coderetreat, or are you unsure if you want to host? Feel free to check out our <a href="hosts/faq.html">Hosting FAQ</a>.</p>

    <h2>Who is organizing this?</h2>
    <p>GDCR 2014 will be brought to you by hundreds of passionate local hosts and facilitators worldwide and a team of global coordinators, including <a href="https://twitter.com/jthurne" target="_blank">Jim Hurne</a>, <a href="https://twitter.com/adibolb" target="_blank">Adi Bolboaca</a>, <a href="https://twitter.com/martinklose" target="_blank">Martin Klose</a>, and <a href="https://twitter.com/ElenaYankova1" target="_blank">Elena Yankova</a>.</p>
  </div><!--/content-->
</div><!--/main-->
