<div id="main">
  <div id="content">
    <h1>Media Pack</h1>
    <p>Use the resources below to help organize and promote your local coderetreat. All resources are hosted on the <a href="https://drive.google.com/folderview?id=0By1dUls0nlSteWpWY2NtRlV0dkE&usp=sharing#list" target="_blank">GDCR 2013 Google Drive Collection</a>. Anyone who has registered a local event has been granted access to the resources linked below. Please <a href="mailto:gdcr@coderetreat.org?subject=Having%20trouble%20accessing%20the%20media%20pack">let us know</a> if you have problems accessing the links.</p>
    <p>You can also <a href="https://www.dropbox.com/s/i7x8kcomrj0o5mh/gdcr_2013_media_pack_v1.zip">download the entire media pack as a zip</a> (hosted on dropbox).</p>
    <h2><a href="https://drive.google.com/folderview?id=0By1dUls0nlStTnozSlBFR3hSeWc&usp=sharing#list" target="_blank">Flyer</a></h2>
    <table class="linktable">
      <tbody>
        <tr>
          <td><a href="https://docs.google.com/document/d/1IGStv0rmidyyf_tgJrbvr29Dynkl0bIRpxdv-P3c1To/edit?usp=sharing" target="_blank">Creating a Flyer - Scribus Instructions</a></td>
          <td>how to create a flyer for your event using <a href="http://www.scribus.net">Scribus</a>, an free and open source desktop publishing application</td>
        </tr>
        <tr>
          <td><a href="https://docs.google.com/file/d/0By1dUls0nlStVGlhb25yUTJ4bVU/edit?usp=sharing" target="_blank">GDCR_2013_Flyer_Scribus_Template.zip</a></td>
          <td>Scribus template for creating a GDCR 2013 flyer</td>
        </tr>
        <tr>
          <td><a href="https://docs.google.com/file/d/0By1dUls0nlStckkxQk9fV05TTEE/edit?usp=sharing" target="_blank">GDCR_2013_Flyer.zip</a></td>
          <td>Scribus and resource files for creating a GDCR 2013 flyer</td>
        </tr>
        <tr>
          <td><a href="https://docs.google.com/file/d/0By1dUls0nlStU0lSbFo1MEgyYzQ/edit?usp=sharing" target="_blank">GDCR_2013_Flyer.pdf</a></td>
          <td>PDF of the GDCR 2013 template (for use with a program that can import or edit PDFs)</td>
        </tr>
        <tr>
          <td><a href="https://docs.google.com/file/d/0By1dUls0nlStTExlc1VkbW9JNG8/edit?usp=sharing" target="_blank">GDCR_2012_Flyer_PGH.pdf</a></td>
          <td>example of a finished flyer (2012 flyer for the GDCR event in Pittsburgh, PA, USA)</td>
        </tr>
      </tbody>
    </table>
    <h2><a href="https://drive.google.com/folderview?id=0By1dUls0nlStQ2FKZ2lVT2xoNTg&usp=sharing#list" target="_blank">Sponsor Prospectus</a></h2>
    <table class="linktable">
      <tbody>
        <tr>
          <td><a href="https://docs.google.com/file/d/0By1dUls0nlStLTdvRmZrSFd2QlU/edit?usp=sharing" target="_blank">GDCR_2013_Global_Sponsor_Prospectus.pdf</a></td>
          <td>the 2013 global sponsor prospectus. Please share with companies who may be interested in global sponsorship</td>
        </tr>
        <tr>
          <td><a href="https://docs.google.com/file/d/0By1dUls0nlStR0Z0SVZta3hKam8/edit?usp=sharing" target="_blank">GDCR_2013_Global_Sponsor_Prospectus--Basic.pdf</a></td>
          <td>global sponsor prospectus without background images (smaller file size)</td>
        </tr>
        <tr>
          <td><a href="https://docs.google.com/document/d/1eutufUW0VqChGpuwSMOeInQb-v3RAGoVdh2ZGewwjvQ/edit?usp=sharing" target="_blank">Creating a Local Sponsor Prospectus - Scribus Instructions</a></td>
          <td>how to create a local sponsor prospectus for your event using <a href="http://www.scribus.net">Scribus</a>, a free and open source desktop publishing application</td>
        </tr>
        <tr>
          <td><a href="https://docs.google.com/file/d/0By1dUls0nlStYmZLa0JvUVFEaW8/edit?usp=sharing" target="_blank">GDCR_2013_Local_Sponsor_Prospectus_Scribus_Template.zip</a></td>
          <td>Scribus template for creating a local sponsor prospectus</td>
        </tr>
        <tr>
          <td><a href="https://docs.google.com/file/d/0By1dUls0nlStTVhlX1FHS3ZSWTA/edit?usp=sharing" target="_blank">GDCR_2013_Local_Sponsor_Prospectus_Scribus.zip</a></td>
          <td>Scribus and resource files for creating a local sponsor prospectus</td>
        </tr>
        <tr>
          <td><a href="https://docs.google.com/file/d/0By1dUls0nlStWVA4UGZrcVFqOXc/edit?usp=sharing" target="_blank">GDCR_2013_Local_Sponsor_Prospectus.pdf</a></td>
          <td>PDF of the local sponsor prospectus template (for use with a program that can import or edit PDFs)</td>
        </tr>
        <tr>
          <td><a href="https://docs.google.com/file/d/0By1dUls0nlStazRaTFc3SnNjbDg/edit?usp=sharing" target="_blank">GDCR_2013_Local_Sponsor_Prospectus--Basic.pdf</a></td>
          <td>local sponsor prospectus without the background images (smaller file size)</td>
        </tr>
      </tbody>
    </table>
    <h2><a href="https://drive.google.com/folderview?id=0By1dUls0nlStVklHTW8xQUtrRGc&usp=sharing#list" target="_blank">Sticker</a></h2>
    <table class="linktable">
      <tbody>
        <tr>
          <td><a href="https://docs.google.com/file/d/0By1dUls0nlStbGZMamZxUTdTVUU/edit?usp=sharing" target="_blank">coderetreat-org-sticker.png</a></td>
          <td>PNG version of the sticker</td>
        </tr>
        <tr>
          <td><a href="https://docs.google.com/file/d/0By1dUls0nlStZ2F3WTJwdThhanM/edit?usp=sharing" target="_blank">PRINT_CoderetreatSticker_PDFx-1a2003-page001.svg</a></td>
          <td>SVG version of the sticker</td>
        </tr>
        <tr>
          <td><a href="https://docs.google.com/file/d/0By1dUls0nlStM3pVZ0kyX1NlSXM/edit?usp=sharing" target="_blank">REFERENCE_CoderetreatSticker.pdf</a></td>
          <td>preview of the sticker showing where the sticker should be cut</td>
        </tr>
        <tr>
          <td><a href="https://docs.google.com/file/d/0By1dUls0nlStNFY3T2FZck1BdHc/edit?usp=sharing" target="_blank">PRINT_CoderetreatSticker_PDFx-1a2001.pdf</a></td>
          <td>PDFx-1a2001 version of the sticker</td>
        </tr>
        <tr>
          <td><a href="https://docs.google.com/file/d/0By1dUls0nlStN3plN3VXc01FYms/edit?usp=sharing" target="_blank">PRINT_CoderetreatSticker_PDFx-1a2003.pdf</a></td>
          <td>PDFx-1a2003 version of the sticker</td>
        </tr>
      </tbody>
    </table>
    <h2><a href="https://drive.google.com/folderview?id=0By1dUls0nlStT1dRSXBITzFqTWs&usp=sharing#list" target="_blank">Other</a></h2>
    <table class="linktable">
      <tbody>
        <tr>
          <td><a href="https://docs.google.com/document/d/1sYNUmg2-5Futq3MfScuyVQMJ-1OvdcH1DDe9Cd1oYuU/edit?usp=sharing" target="_blank">Email Template - GDCR Announcement</a></td>
          <td>a template email for announcing a GDCR coderetreat</td>
        </tr>
        <tr>
          <td><a href="https://docs.google.com/file/d/0By1dUls0nlStWHR5d3pOZlhHbEk/edit?usp=sharing" target="_blank">gdcr-signs-orange.pdf</a></td>
          <td>directional signs for use on location to help attendees find the coderetreat (PDF)</td>
        </tr>
        <tr>
          <td><a href="https://docs.google.com/file/d/0By1dUls0nlStNXFDWlh6WGVaMlk/edit?usp=sharing" target="_blank">gdcr-signs-orange.doc</a></td>
          <td>directional signs for use on location to help attendees find the coderetreat (Microsoft Word document)</td>
        </tr>
        <tr>
          <td><a href="https://docs.google.com/document/d/1V7z-CuvHGkAnDRx9tRFD2Bu8l_FWx0K1udMSRKCFivk/edit?usp=sharing" target="_blank">Audio Talking Points</a></td>
          <td>references and notes for use when talking about GDCR</td>
        </tr>
        <tr>
          <td><a href="http://coderetreat.org/visual-identity-style-guide" target="_blank">Visual Identity Style Guide</a></td>
          <td>Information about the Coderetreat color pallet and fonts. Includes instructions on creating an <a href="http://www.eventbrite.com">Eventbrite</a> page that matches the Coderetreat visual identity.</td>
        </tr>
      </tbody>
    </table>
  </div><!--/content-->
</div><!--/main-->
