<div class="navbar">
<div class="navbar-inner">
  <a href="/">Home</a>
  <a href="http://coderetreat.org/events/event/listByType?type=gdcr15">
    Event List
  </a>
  <a href="/timeline.html">
    Timeline
  </a>
  <a href="/hosts">
    Hosting and Facilitating
  </a>
  <a href="http://coderetreat.org/profiles/blogs/coderdojo-and-gdcr14">
    CoderDojo
  </a>
</div>
</div>
