<div class="navbar">
<div class="navbar-inner">
  <a href="/">Home</a>
  <a href="http://coderetreat.org/events/event/listByType?type=gdcr15">
    Event List
  </a>
  <a href="/timeline-2014.html">
    See the 2014 Timeline
  </a>
  <a href="/hosts">
    Hosting and Facilitating
  </a>
</div>
</div>
