<div class="navbar">
<div class="navbar-inner">
  <a href="/" class="logo">
    <img src="/images/logo.svg" alt="Global Day of Coderetreat"></img>
  </a>
  <a href="http://coderetreat.org/events/event/listByType?type=gdcr14">
    Event List
  </a>
  <a href="/hosts">
    Hosting and Facilitating
  </a>
  <a href="http://coderetreat.org/profiles/blogs/coderdojo-and-gdcr14">
    CoderDojo
  </a>
</div>
</div>
