<div id="sponsor-sidebar">
  <header>
    <h2>Global Sponsors</h2>
  </header>
  <section class="sponsors">
    <header><a href="sponsors.html">Become a sponsor</a> and reach more than <strong>3,000</strong> of the world's most passionate developers.</header>
    <section class="sponsor galaxy"></section>
    <section class='sponsor globe'>
      <header>Globe Level</header>
      <a href="http://github.com/" alt="GitHub"><img src="/images/sponsors/github_logo.png" alt="Thanks to GitHub for sponsoring!" /></a>
    </section>
    <section class='sponsor continent'>
      <header>Continent Level</header>
      <a href="http://www.dnsimple.com/" alt="DNSimple"><img src="/images/sponsors/dnsimple_logo.png" alt="Thanks to DNSimple for sponsoring!" /></a>
    </section>
  </section>
</div><!--/sponsor-sidebar-->
