<div id="main">
<div id="content">
  <h1>You could be a sponsor</h1>
  <p>With an average of 20-25 participants at each of our projected <strong>200 coderetreats</strong> (last year we had 150), we currently are forecasting <strong>over 3000 passionate software developers world-wide</strong>.</p>
  <p/>By becoming a global sponsor, you will have <strong>a presence in front of all of them</strong>. For more information about our needs and sponsorship plans, please please download our <a href="gdcr_2014_global_sponsor_prospectus.pdf">sponsorship prospectus</a> and contact <a href="mailto:gdcr@coderetreat.org?subject=GDCR%20Sponsorship">the global event organizers</a>.</p>
  <section class="sponsors">
    <section class="sponsor galaxy">
    </section>
    <section class='sponsor globe'>
      <header>Thanks to our Globe Level Sponsors</header>
      <ul>
        <li><a href="http://github.com/" alt="GitHub"><img src="/images/sponsors/github_logo.png" alt="Thanks to GitHub for sponsoring!" /></a></li>
      </ul>
    </section>
    <section class='sponsor continent'>
      <header>Thanks To Our Continent-Level Sponsors</header>
      <ul>
        <li><a href="http://www.dnsimple.com/" alt="DNSimple"><img src="/images/sponsors/dnsimple_logo.png" alt="Thanks to DNSimple for sponsoring!" /></a></li>
      </ul>
    </section>
    <section class='sponsor giveaway'>
    </section>
  </section><!--/sponsor-->
</div><!--/content-->
</div><!--/main-->
