@import "stylesheets/bourbon/bourbon";
@import "stylesheets/neat/neat";
@import "stylesheets/breakpoints";
@import "stylesheets/base";
@import "stylesheets/fonts";
@import "stylesheets/map";
@import "stylesheets/popover";
@import "stylesheets/colors";
@import "stylesheets/navigation";
@import "stylesheets/forms";
@import "stylesheets/transparent-overlay";

@import "stylesheets/landing/hero";
@import "stylesheets/landing/map";
@import "stylesheets/landing/format";
@import "stylesheets/landing/hosting";
@import "stylesheets/landing/coderdojo";
@import "stylesheets/landing/sponsors";

// TODO namespace clash
.hosting .description {
  margin-top: 2 * $gutter;
}

#content {
  @include outer-container;
  padding-top: $gutter;
}
