@import "stylesheets/bourbon/bourbon";
@import "stylesheets/neat/neat";

@import "stylesheets/fonts";
@import "stylesheets/colors";
@import "stylesheets/transparent-overlay";

html, body {
  margin: 0;
  background-color: $light;
  color: $dark;
  padding-bottom: $gutter;
  line-height: $gutter;
  font-family: $body-font;
}

p {
  margin-top: 0px;
}

a {
  color: $green;
  text-decoration: none;
  &:hover { text-decoration: underline; }
}

section {
  padding: $gutter 0;
  padding-bottom: $gutter*2;
  @include outer-container;
}

.navbar {
  padding: $gutter/2 0;
  position: fixed;
  width: 100%;
  background-color: $light;
  .navbar-inner {
    @include outer-container;
    .logo img { max-height: 3em; }
  }
  box-shadow: 0 0 8px 0 black;
  z-index: 50;
}

h2 {
  text-align: center;
  font-family: $title-font;
  font-size: 1.8em;
}

#hero {
  height: 90vh;
  overflow: hidden;
  background-image: url("images/mountain_path.svg");
  background-size: cover;
  background-attachment: fixed;
  .header {
    h1 { font-family: "OrbitronBlack"; }
    h2 { font-size: 1.5em; }
    @include span-columns(7 of 12);
    @include shift(4.5);
    font-family: $title-font;
    margin-top: 8em;
    font-size: 1.6em;
    color: $dark;
    text-align: center;
  }
}

#map {
  $map-border: $gutter*8;
  @include span-columns(8 of 12);
  height: 400px;
  background-color: $blue;
  border-radius: $map-border;
  canvas { border-radius: $map-border; }
}

.map-aside {
  @include span-columns(4 of 12);
}

.button {
  background-color: $green;
  text-decoration: none;
  color: $light;
  font-size: 1.2em;
  padding: $gutter/1.2;
  display: block;
  text-align: center;
  @include fill-parent;
  transition: linear 0.5s;
  &:hover {
    background-color: $lightgreen;
  }
  border-radius: 4px;
}

.format-background {
  background-image: url("images/GOL.svg");
  background-attachment: fixed;
  width: 100%;
  color: $light;
}
.format .step {
  @include span-columns(3 of 12);
  margin-top: $gutter;
  background-color: $light;
  opacity: 0.9;
  color: $dark;
  padding: $gutter;
}

.host {
  .host-contents {
    overflow: hidden;
  }
  .host-aside {
    @include span-columns(4 of 12);
  }
  .host-pictures {
    @include span-columns(8 of 12);
    @include transparent-overlay(0.7);
    img {
      @include fill-parent;
    }
  }
  .button {
    @include span-columns(6 of 12);
    @include shift(3);
  }
}

.sponsors {
  .sponsor-level {
    @include fill-parent;
    h3 { @include span-columns(4 of 12); }
    .sponsors-container { @include span-columns(8 of 12); }
    padding-top: $gutter;
    overflow: hidden;
    &.globe .sponsor { @include span-columns(4); }
    &.continent .sponsor { @include span-columns(3);}
  }
  .sponsor {
    float: left;
  }
  .sponsor img {
    @include fill-parent;
    @include clearfix;
  }
}
