<div id="main">
<div id="content">
  <h2>Global Day of Coderetreat Participant Surveys</h2>
  <p>This set of surveys is part of a research project, with the support of the Global Day of Coderetreat organizers, to help us investigate the outcomes of coderetreats. By participating in these surveys you will be contributing to the software development community's efforts to understand and disseminate best practice.</p>
  <p>The surveys are completely anonymous and no information that might identify you personally is gathered.</p>
  <p>At the end of each coding session, we would like you to fill in a simple survey that contains one question about that session. The same question is asked about every session (up to 6).</p>
  <p>At the end of the coderetreat we would like you to fill in a longer survey that asks about the whole coderetreat. This contains 18 questions and should take around 10 minutes or so to complete.</p>
  <p>None of the questions are compulsory.</p>
  <p>If you have any questions or comments about this research project please contact Associate Professor David Parsons, Massey University, New Zealand.</p>
  <p>Email: <a href="mailto:d.p.parsons@massey.ac.nz">d.p.parsons@massey.ac.nz</a></p>
  <h2>The Survey Links</h2>
  <p> The links to all the surveys are below:</p>
  <ul>
    <li><a href="https://massey.asia.qualtrics.com/SE/?SID=SV_d0XNdP4NoguuM85" target="_blank">Session 1 survey</a></li>
    <li><a href="https://massey.asia.qualtrics.com/SE/?SID=SV_bIuuXZFTtEaGcol" target="_blank">Session 2 survey</a></li>
    <li><a href="https://massey.asia.qualtrics.com/SE/?SID=SV_9yvF8HblYqxSdlX" target="_blank">Session 3 survey</a></li>
    <li><a href="https://massey.asia.qualtrics.com/SE/?SID=SV_1XpcOzxMLi02I8l" target="_blank">Session 4 survey</a></li>
    <li><a href="https://massey.asia.qualtrics.com/SE/?SID=SV_2rAYK2tz9yJ11sh" target="_blank">Session 5 survey</a></li>
    <li><a href="https://massey.asia.qualtrics.com/SE/?SID=SV_8cbvgy3e5IqPNiZ" target="_blank">Session 6 survey</a></li>
    <li><a href="https://massey.asia.qualtrics.com/SE/?SID=SV_6sz3304SSmw35e5">Final survey (at end of coderetreat)</a></li>
  </ul>
</div><!--/content-->
