<div id="main">
  <div id="content">
    <h1>Global Day of Coderetreat 2016 Timeline</h1>
    <h2>All times are UTC</h2>
  </div>
   <img src="images/timeline-2015.svg" alt="GDCR 2015 Timeline" class="timeline"/>
</div><!--/main-->
