<div id="main">
  <div id="content">
    <h1>Global Day of Coderetreat 2014 Timeline</h1>
    <h2>All times are UTC</h2>
    <a href="/gdcr_2014_timeline.pdf">Download as a PDF</a>
  </div>
   <img src="images/timeline.svg" alt="GDCR 2014 Timeline" class="timeline"/>
</div><!--/main-->
