<div id="main">
  <div id="content">
    <h1>Global Day of Coderetreat 2014 Timeline</h1>
    <h2>All times are UTC</h2>
  </div>
   <img src="images/timeline.svg" class="timeline"/>
</div><!--/main-->
