<header>
  <h2>Global Sponsors</h2>
  <a href="#become_a_sponsor">Become a Global Sponsor</a>
</header>
<section class='sponsors galaxy'>
<header>Galaxy</header>
<p><a href="#become_a_sponsor">Your company here</a></p>
</section>
<section class='sponsors globe'>
<header>Globe</header>
<p><a href="http://www.thoughtworks.com/"><img src="/images/gdcr_sponsors/thoughtworks_logo.png" alt="Thoughtworks" width="160px"/></a></p>
</section>
<section class='sponsors continent'>
<header>Continent</header>
<ul>
  <li><a href="http://neo4j.org" target="_blank"><img src="/images/gdcr_sponsors/neo4j_logo.png" alt="Neo4j"/></a></li>
  <li><a href="http://www.pernix-solutions.com/Home.html" target="_blank"><img src="/images/gdcr_sponsors/pernix_logo.png" alt="Pernix Solutions"/></a></li>
</ul>
<section class='sponsors giveaways'>
<header>Product Giveaways</header>
<ul>
  <li><a href="http://www.jetbrains.com" target="_blank"><img src="/images/gdcr_sponsors/jetbrains_logo.gif" alt="JetBrains"/></a></li>
  <li><a href="http://pragprog.com" target="_blank"><img src="/images/gdcr_sponsors/pragmatic_programmers_logo.gif" alt="Pragmatic Programmers"/></a></li>
  <li><a href="http://www.codeschool.com" target="_blank"><img src="/images/gdcr_sponsors/code_school_logo.png" alt="Code School"/></a></li>
  <li><a href="http://www.dnsimple.com" target="_blank"><img src="/images/gdcr_sponsors/dnsimple_logo.jpeg" alt="DNSimple"/></a></li>
</ul>
</section>
<footer>
  <a href="#become_a_sponsor">Become a Global Sponsor</a>
</footer>
