.container {
  width: 960px;
  margin: 0 auto;
}

.center {
  text-align: center;
}

img {
  border: none;
}

ul li {
  padding-top: 0.3em;
}

.sponsors ul li {
  list-style-type: none;
}

.global_day #main {
  float: left;
  width: 684px;
  margin-left: 0px;
  margin-top: 16px;
}

.sponsorless #main {
  float: left;
  width: 921px;
  margin-left: 0px;
  margin-top: 16px;
}

#header #logo img {
   border: 0;
   margin-top: 15px;
   margin-left: 20px;
   margin-bottom: 15px;
}

#header h1 {
   float: left;
   background: url(/images/gdcr-logo.png) no-repeat 0 0;
   width: 532px;
   height: 115px;
   text-indent: -9999px;
   margin-top: 80px;
   margin: 1em 0 1em 0.5em;
}

#sponsor-sidebar {
  float: left;
  width: 180px;
  /* min-height: 381px; */
  margin: 16px 0px 0px 16px;
  padding: 20px 20px 40px 20px;
  background: #fffacb url(/images/bg-content-btm.jpg) repeat-x bottom left;
  text-align: center;
}

#sponsor-sidebar section.sponsors header {
  font-size: 1.2em;
  color: #995E24;
  margin-top: 15px;
}

#sponsor-sidebar section.sponsor {
  padding-bottom: 10px;
  border-top: 1px solid #E68D36;
}

#sponsor-sidebar section.sponsor:first-of-type {
  border-top: 0;
}

#sponsor-sidebar section.sponsor.galaxy {
  font-size: 1.2em;
  line-height: 1.8;
}

.global_day #main #content section.sponsors {
  width: 100%;
  text-align: center;
}

.global_day #main #content section.sponsors section.sponsor {
  margin-bottom: 40px;
  font-size: 1.4em;
  color: #995E24;
}

.global_day #main #content section.sponsors section.sponsor header {
  margin-bottom: 10px;
}

.global_day #main #content section.sponsors section.sponsor ul {
  padding: 0;
  margin: 0;
}

.global_day #main #content section.sponsors section.sponsor ul li {
  list-style-type: none;
  display: inline;
}

.global_day #main #content section.sponsors section.sponsor ul li img {
  vertical-align:middle;
  margin-right: 20px;
}

.global_day #main #content section.sponsors section.sponsor.galaxy {
  font-size: 1.8em;
}

ul.media_kit.cr_shots li {
  display: inline;
}

table.linktable {
  font-family: verdana,arial,sans-serif;
/*  font-size:11px; */
  color:#333333;
  border-width: 1px;
  border-color: #666666;
  border-collapse: collapse;
}
table.linktable th {
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #666666;
  background-color: #dedede;
}
table.linktable td {
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #666666;
  background-color: #ffffff;
}
