<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="description" content="The Globaly Day of Coderetreat as a day when developers all over the world will be practicing the fundamentals of software development." />

  <title>Global Day of Coderetreat</title>
  <link rel="icon" type="image/png" href="/images/gdcr-favicon.ico">
  <link rel="stylesheet" href="/stylesheets/print.css" type="text/css" media="print">
  <link rel="stylesheet" href="/stylesheets/main.css" type="text/css" media="screen">
  <link rel="stylesheet" href="/stylesheets/layout.css" type="text/css" media="screen">
  <link rel="stylesheet" href="/stylesheets/type.css" type="text/css" media="screen">
  <link rel="stylesheet" href="/stylesheets/global_day.css" type="text/css" media="screen">
  <link rel="stylesheet" href="/fonts/stylesheet.css" type="text/css" media="screen">

</head>
<body class='global_day'>
  <div class="container">
    <div id="header">
      <a id="logo" href="/global_day.html"><img src="/images/gdcr-world.png" alt="logo"/></a>
      <h1><a href="/global_day.html">Global Day of Coderetreat -
        honing the craft together...all over the world</a></h1>
      <div class="call-to-action">
        <a href="http://coderetreat.ning.com/events/event/listByDate?date=2011-12-3">View all local events ></a>
      </div>
    </div><!--/header-->
    <div id="main">
      <div id="content">
        {{ content }}
      </div><!--/content-->
    </div><!--/main-->
    <div id="sponsor-sidebar">
      {% include gdcr_global_sponsors.html %}
    </div><!--/sponsor-sidebar-->
  </div><!--/container-->
  <div id="footer">
    <div class="container-wide">
    </div><!--/container-->
  </div><!--/footer-->
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
  <script type="text/javascript" src="/javascripts/application.js"></script>
  <script type="text/javascript" src="/javascripts/analytics.js"></script>
  <script type="text/javascript" src="http://download.skype.com/share/skypebuttons/js/skypeCheck.js"></script>
</body>


</html>

