html {
  background: #fff url(../images/floyd/trail.jpg) no-repeat 0 0 ;

}
body {
  font-family: 'myriad pro', sans-serif;
  margin: 1em auto;
  width: 960px;
  font-size: 120%;
  color:#262626;

}
h1 {
  font-style: italic;
}
h2#catering {
  margin-top: 1.1em;
}
a {
  color: #4f8b0e;
}
a img{
  border: none;
}
header {
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  background:#FFFFFF none repeat scroll 0 0;
  display:block;
  opacity:0.9;
  padding: 0.4em 0.6em;

}
header a {
  float: right;
  padding: 0 .7em;
}
header span {
  clear: right;
  float: right;
  font-size: 1.4em;
  padding: 1em 1.5em;
}
header h1 {
  margin-bottom: 0px;
}
header h4 {
  margin-top: 0;
}
header h2 {
  border: 1px solid #262626;
}
nav {
  clear: both;
}
aside {
  -moz-border-radius:0.3em;
  -webkit-border-radius: 0.3em;
  background:#FFFFFF none repeat scroll 0 0;
  color:#262626;
  display:block;
  opacity:0.9;
  padding: 0.4em 0.6em;
  float: right;
  width: 20%;
  margin: 1em 0;
}
article {
  -moz-border-radius:0.3em;
  -webkit-border-radius: 0.3em;
  background:#FFFFFF none repeat scroll 0 0;
  color:#262626;
  display:block;
  opacity:0.9;
  padding: 0.4em 0.6em;
  float: left;
  margin: 1em 0;
  width: 70%;
}
section {
  float: left;
  width: 50%;
}
section p {
  padding-right: 1em;
}
img#sponsor-logo-1 {
  padding-left: 1.5em;
  padding-bottom: 0.8em;
}
img#sponsor-logo-2 {
  padding-left: 2.7em;
  padding-bottom: 1em;
}
img#sponsor-logo-3 {
  padding-left: 2.1em;
  padding-bottom: 0.8em;
}
img#sponsor-logo-4 {
  padding-left: 2.1em;
  padding-bottom: 0.5em;
}
img#sponsor-logo-5 {
  padding-left: 0.8em;
  padding-bottom: 0.5em;
}
img#catering-logo-1 {
  padding-left: 2.3em;
  padding-bottom: 1em;
}
img#catering-logo-2 {
  padding-left: 2.0em;
  padding-bottom: 0.0em;
}
img#catering-logo-3 {
  padding-left: 1.8em;
  padding-bottom: 1em;
}
img#ruby {
  float: left;
  padding-right: 15px;
  padding-bottom: 10px;
}
footer {
  display: block;
  clear: both;
}
nav li {
  display: inline;
}
footer a {
  -moz-border-radius:0.3em;
  -webkit-border-radius: 0.3em;
  background:#FFFFFF none repeat scroll 0 0;
  color:#262626;
  display: inline;
  margin-bottom: 0.5em;
  opacity: 0.9;
  padding: 0.4em 0.6em;
  text-decoration:none;
}
footer a:hover {
  opacity: 1;

}
